
<div class="row">
  <div class="span6">
    <%= f.input :primer_internal_wt_size_lt, input_html: {class: "input-mini"}, label: "Internal Oligo Size LT" %>
  </div>
  <div class="span5">
    <%= f.input :primer_internal_wt_size_gt, input_html: {class: "input-mini"}, label: "Internal Oligo Size GT" %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= f.input :primer_internal_wt_tm_lt, input_html: {class: "input-mini"}, label: "Internal Oligo Tm LT" %>
  </div>
  <div class="span5">
    <%= f.input :primer_internal_wt_tm_gt, input_html: {class: "input-mini"}, label: "Internal Oligo Tm GT" %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= f.input :primer_internal_wt_gc_percent_lt, input_html: {class: "input-mini"}, label: "Internal Oligo GC% LT" %>
  </div>
  <div class="span5">
    <%= f.input :primer_internal_wt_gc_percent_gt, input_html: {class: "input-mini"}, label: "Internal Oligo GC% GT" %>
  </div>
</div>


<div class="row">
  <div class="span6">
    <%= f.input :primer_internal_wt_self_any_th, input_html: {class: "input-mini"}, label: "TH: Internal Oligo Self Complementarity" %>
  </div>
  <div class="span5">
    <%= f.input :primer_internal_wt_self_end_th, input_html: {class: "input-mini"}, label: "TH: Internal Oligo 3' End Complementarity" %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= f.input :primer_internal_wt_hairpin_th, input_html: {class: "input-mini"}, label: "TH: Internal Oligo Hairpin" %>
  </div>
  <div class="span5">
    <%= f.input :primer_internal_wt_self_any, input_html: {class: "input-mini"}, label: "Internal Oligo Self Complementarity" %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= f.input :primer_internal_wt_self_end, input_html: {class: "input-mini"}, label: "Internal Oligo 3' End Complementarity" %>
  </div>
  <div class="span5">
    <%= f.input :primer_internal_wt_num_ns, input_html: {class: "input-mini"}, label: "Internal Oligo #N's" %>
  </div>
</div>


<div class="row">
  <div class="span6">
    <%= f.input :primer_internal_wt_library_mishyb, input_html: {class: "input-mini"}, label: "Internal Oligo Library Mishybing" %>
  </div>
  <div class="span5">
    <%= f.input :primer_internal_wt_seq_qual, input_html: {class: "input-mini"}, label: "Internal Oligo Sequence Quality" %>
  </div>
</div>

<%= f.input :primer_internal_wt_end_qual, input_html: {class: "input-mini"}, label: "Internal Oligo Sequence End Quality" %>

   



    

